body{
    background: url(https://i.ytimg.com/vi/jcDZ7TdKvLg/maxresdefault.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.helloIcon{
    display: flex;
    justify-content: space-between;
}

#icono{
    margin: 4%;
}
.Datee{
    display: flex;
    justify-content: space-between;
}
.data{
    color: white;
    background-color: rgb(24, 23, 23);
    padding: 6px;
    border-radius: 4px;
}

.hhh{
    font-family: fantasy;
}

.estilo{
    color: rgba(255, 255, 255, 0.87);
    margin: 3%;
    padding: 2% 5%;
}

.estilo{
    background: rgb(40, 41, 41);
    border-radius: 1ex;
    margin: 2% 20%;

}
h5{
    margin: 0% 7%;
}
.formularioDeOrigen{
    margin: 2%;
    padding: 2%;
    width: 40%;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background-color: rgba(36, 35, 35, 0.87);
}
.hl{
    font-size: 20px;
    text-align: center;
}
.tituloo{
    font-size: 20px;
}

#justifi{
    display: flex;
}

@media screen and (max-width: 750px) {
    .formularioDeOrigen{
      width: 94%;
      margin: 2%;
      color: rgb(255, 255, 255);
      background-color: rgba(36, 35, 35, 0.87);
      border-radius: 4px;
    }
    .hhh{
        font-size: 36px;
        font-family: fantasy;
    }
    .origen{
        display: flex;
        justify-content: space-around;
    }
    .estilo{
        background: rgb(40, 41, 41);
        border-radius: 1ex;
        margin: 4%;
    }
    .hl{
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 280px) {
    .hhh{
        color: yellow;
        font-size: 32px;
        font-family: fantasy;
    }
}

  