body{
    background: url(https://i.ytimg.com/vi/jcDZ7TdKvLg/maxresdefault.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.helloIcon{
    display: flex;
    justify-content: space-between;
}

#icono{
    margin: 4%;
}

.hhh{
    font-family: emoji;
}

h3{
    font-family: monospace;
}
.estilo{
    color: rgba(255, 255, 255, 0.87);
    margin: 3%;
    padding: 2% 5%;
}

.estilo{
    background: rgb(40, 41, 41);
    border-radius: 1ex;
    margin: 2% 20%;

}

.formularioDeOrigen{
    margin: 2%;
    padding: 2%;
    width: 40%;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background-color: rgba(36, 35, 35, 0.87);
}

b{
    font-family: emoji;
    font-size: 18px;
}
@media screen and (max-width: 750px) {
    .formularioDeOrigen{
      width: 94%;
      margin: 2%;
      color: rgb(255, 255, 255);
      background-color: rgba(36, 35, 35, 0.87);
      border-radius: 4px;
    }
    p{
        text-align: center;
    }
    .origen{
        display: flex;
        justify-content: space-around;
    }
    .estilo{
        background: rgb(40, 41, 41);
        border-radius: 1ex;
        margin: 4%;
    }
    .hhh{
        font-family: system-ui;
        font-size: 2.2rem;
    }
}


  